body{
    background-color: black;
    color: white;
    text-align: center;
}
#title{
    font-size: 50px;
    color: brown;
    margin-bottom: 0;
}
#copyright{
    font-size: 50px;
    color: brown;
    margin-bottom: 0;
}
#line{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#line2{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#image1{
    border-radius: 30px;
    width: 350px;
    height: 400px;
    margin-bottom: 10px;
}
#image2{
    border-radius: 30px;
    margin-top: 10px;
    width: 500px;
    height: 500px;
}
.c{
    float: left;
    margin: 10px;
    width: 300px;
    height: 550px;
}
#div0{
    margin-left: 150px;
    margin-right: auto;
    width: 80%;
}
#div1{
    background-color: darkblue;
    border-radius: 30px;
}
#div2{
    background-color: darkred;
    border-radius: 30px;
}
#div3{
    background-color: darkgreen;
    border-radius: 30px;
}
#div4{
    background-color: darkcyan;
    border-radius: 30px;
}
#div5{
    background-color: darkmagenta;
    border-radius: 30px;
}
#div6{
    background-color: darkgoldenrod;
    border-radius: 30px;
}
#div7{
    background-color: darkslateblue;
    border-radius: 30px;
}
#div8{
    background-color: darkturquoise;
    border-radius: 30px;
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    padding: 5px;
}
video{
    border-radius: 30px;
    width: 250px;
    height: 380px;
}